; Prefix client code env variables with 'PUBLIC_' (https://svelte.dev/tutorial/kit/env-static-public)
PUBLIC_API_BASE_URL=http://localhost:8080

PUBLIC_MOCK_BACKEND_GRPC_WEB_PORT_CHROMIUM=3002
PUBLIC_MOCK_BACKEND_GRPC_WEB_PORT_FIREFOX=3003
PUBLIC_MOCK_BACKEND_GRPC_WEB_PORT_WEBKIT=3004
